<.flash_group flash={@flash} />

<div class="text-center p-40">
  <.link
    href={~p"/games"}
    class="text-[2rem] leading-6 text-blue-500 font-semibold hover:text-blue-900"
  >
    <div class="p-4 text-center">Play Now</div>
    <div>
      <.spinner hide={false} />
    </div>
  </.link>
</div>
