<.flash_group flash={@flash} />

<div class="text-center justify-center p-40">
  <.link
    href={~p"/games"}
    class="text-[2rem] leading-6 text-blue-500 font-semibold hover:text-blue-900"
  >
    <div class="p-4">Play Now</div>
    <img src="/images/tictactoe.png" class="w-[400px]" />
  </.link>
</div>
